<a href="https://colab.research.google.com/github/ArunNandam/ArunNandam/blob/main/TensorFlow_Basic_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# data
df = pd.read_csv('https://raw.githubusercontent.com/nicknochnack/Tensorflow-in-10-Minutes/main/Churn.csv')
df.head()

,Customer ID,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,7590-VHVEA,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No

In [5]:
# Convert this categorical data to Numerical by basic pandas

X = pd.get_dummies(df.drop(['Churn','Customer ID'], axis=1))
X.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
0,0,1,29.85,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,1,29.85,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,34,56.95,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,2,53.85,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,45,42.30,0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

Warning: Total number of columns (6575) exceeds max_columns (20) limiting to first (20) columns.
Warning: Total number of columns (6575) exceeds max_columns (20) limiting to first (20) columns.

In [7]:
# Create Target
y = df['Churn'].apply(lambda x: 0 if x=='No' else 1)
y.value_counts()

0    5175
1    1869
Name: Churn, dtype: int64

In [8]:
# Splitting into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

**1. Import Dependencies**

In [11]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

# Sequential - It is a core model for this problem. 
# Dense - Fully Connected layer in Model. Dense layers will help to add up the additional hidden layers on top of model
# load_model - loads model from memory

**2. Build Model and compile model**

In [13]:
model = Sequential()
model.add(Dense(units = 32, activation = 'relu', input_dim = len(X_train.columns)))
model.add(Dense(units = 64, activation = 'relu'))
model.add(Dense(units = 1, activation = 'sigmoid'))

# Here are creating our sequential model and adding two hidden layers with 32 and 64 neurons respectively.
# When the model is created without activation function, we will get the raw output(try it)
# But here activation function acts as a modifier, so it will create the output in the range of 0 to 1 when passed through relu. Different activation functions have different range of output
# Ref - https://images.app.goo.gl/7ogPxsUCpE9no8bm7

In [14]:
model.compile(loss = 'binary_crossentropy', optimizer = 'sgd', metrics = 'accuracy')

# Here loss is the function to calculate the error
# Optimizer helps us to reduce the error by following some pattern
# metrics is the evaluation of the model

**3. Fit, evaluate and Predict**

In [19]:
model.fit(X_train, y_train, epochs = 30, batch_size = 32)

Epoch 1/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4251 - accuracy: 0.7973
Epoch 2/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4232 - accuracy: 0.7975
Epoch 3/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4269 - accuracy: 0.7998
Epoch 4/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4259 - accuracy: 0.7956
Epoch 5/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4229 - accuracy: 0.7936
Epoch 6/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4296 - accuracy: 0.7941
Epoch 7/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4282 - accuracy: 0.7956
Epoch 8/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4273 - accuracy: 0.7933
Epoch 9/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4260 - accuracy: 0.7940
Epoch 10/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4277 - accuracy: 0.7924
Epoch 11/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4252 - accuracy: 0.7920
Epoch 12/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4249 - accuracy: 0.7977
Epoch 13/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4234 - accuracy: 0.7957
Epoch 14/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4245 - accuracy: 0.7998
Epoch 15/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4244 - accuracy: 0.7986
Epoch 16/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4273 - accuracy: 0.7938
Epoch 17/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4258 - accuracy: 0.7949
Epoch 18/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4247 - accuracy: 0.7996
Epoch 19/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4245 - accuracy: 0.7980
Epoch 20/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4254 - accuracy: 0.7933
Epoch 21/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4235 - accuracy: 0.7963
Epoch 22/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4254 - accuracy: 0.7950
Epoch 23/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4236 - accuracy: 0.7989
Epoch 24/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4249 - accuracy: 0.7927
Epoch 25/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4247 - accuracy: 0.7957
Epoch 26/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4230 - accuracy: 0.8002
Epoch 27/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4254 - accuracy: 0.7965
Epoch 28/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4235 - accuracy: 0.7991
Epoch 29/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4260 - accuracy: 0.7993
Epoch 30/30
177/177 [==============================] - 1s 6ms/step - loss: 0.4217 - accuracy: 0.8002

In [17]:
X_train.shape

(5635, 6575)

In [18]:
5635/32

176.09375

In [ ]:
model.c